﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Self-service password reset (SSPR)</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='~/Content/strength/strength.css' rel='stylesheet' type='text/css'>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/strength/strength.js"></script>
    <script>
        $(document).ready(function ($) {

            $('#myPassword').strength();

        });

    </script>
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <a href="@Url.Action("Index", "Home")">
                    <img style="width: 226px; height: 191px; border: none; vertical-align: middle" src="~/Content/Images/Logo.png" />
                </a>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li>@Html.ActionLink("Hints", "Index", "Hints")</li>
                        <li>@Html.ActionLink("Reset Password", "SpecifyUser", "PasswordRequests")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Self-service password reset (SSPR)</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.min.js")
    @Scripts.Render("~/Scripts/functions.js")
    @RenderSection("scripts", required: false)
</body>
</html>
