﻿@model System.Web.Mvc.HandleErrorInfo

@{
    string pageTitle;
    string messageTitle;
    string messageDescription;
    string redirectTo;
    int redirectDelay;
    int messageType;

    pageTitle = String.IsNullOrEmpty(ViewBag.Title) ? "No title specified" : ViewBag.Title;
    messageTitle = String.IsNullOrEmpty(ViewBag.MessageTitle) ? "No message title specified" : ViewBag.MessageTitle;
    messageDescription = String.IsNullOrEmpty(ViewBag.MessageDescription) ? "No message description specified" : ViewBag.MessageDescription;
    redirectTo = String.IsNullOrEmpty(ViewBag.RedirectTo) ? "/" : ViewBag.RedirectTo;

    if (int.TryParse(ViewBag.RedirectDelay.ToString(), out redirectDelay) == false)
    {
        redirectDelay = 0;
    }

    if (int.TryParse(ViewBag.MessageType.ToString(), out messageType) == false)
    {
        messageType = 0;
    }
}


<table>
    <tr>
        @if (messageType == 1)
        {
            <td style="width: 64px;">
                <img src="~/Content/Images/Success.png" /></td>
        }
        else if (messageType == 2)
        {
            <td style="width: 64px;">
                <img src="~/Content/Images/Warning.png" /></td>
        }
        else if (messageType == 3)
        {
            <td style="width: 64px;">
                <img src="~/Content/Images/Error.png" /></td>
        }

        <td>
            <h2>@messageTitle</h2>
        </td>
    </tr>
    <tr>
        <td colspan="100">
            <h3>@messageDescription</h3>
        </td>
    </tr>


    @if (redirectDelay > 0)
    {
        <tr>
            <td colspan="100">Page will redirect in @redirectDelay seconds. <a href="@redirectTo">Click here</a> if page doesn't redirect automatically</td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="100"><a href="@redirectTo">Continue</a></td>
        </tr>
    }

</table>

@if (redirectDelay > 0)
{
    @section HeadScripts {
        <meta http-equiv="refresh" content="@redirectDelay; URL=@redirectTo">
    }
}
