﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SSPR</h1>
                <h2>Self-service password reset</h2>
            </hgroup>
            <p>
                Self-service password reset (SSPR) allows users who have either forgotten their password or triggered an intruder lockout to authenticate with an alternate factor, and repair their own problem, without calling the help desk.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Setup your password reset hints. This will enable you to reset you password in case you forget it
        <a href="../Hints/Index">Learn more…</a>
    </li>

    <li class="two">
        <h5>Reset your password</h5>
        If you have forgotten your password and previously configured your password reset hints, you can reset your password
        <a href="../PasswordRequests/SpecifyUser">Learn more…</a>
    </li>
</ol>
