﻿@model IEnumerable<Self_service_Password_Reset.Hint>

@{
    ViewBag.Title = "Create";
    int cnt = 0;
}

<h2>Reset you password</h2>

@using (Html.BeginForm())
{
    <table class="table">
        @foreach (var item in Model)
        {
            cnt++;
            <tr>
                <td>
                    @item.Question
                </td>
                <td>
                    <input type="hidden" value="@item.UserName" name="UserName" />
                    <input type="hidden" value="@item.ID" name="@string.Format("Question{0}",cnt)" />
                    <input type="text" value="" name="@string.Format("Answer{0}",cnt)" autocomplete="off" />
                    @*@Html.DisplayFor(modelItem => item.Answer)*@
                </td>
            </tr>
        }
        <tr>
            <td>
                New password
            </td>
            <td>
                @*<input id="password2" type="password" placeholder="Create a password" class="us-form-input large password-strength2">*@
                <input type="password" value="" name="Password1" id="myPassword" />
            </td>
        </tr>
        <tr>
            <td>
                Confirm password
            </td>
            <td>
                <input type="password" value="" name="Password2" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Reset Password" />
            </td>
        </tr>
    </table>
}



