﻿@{
    ViewBag.Title = "Specify User";
}

<h2>@ViewBag.Title</h2>
@TempData["Message"]
@using (Html.BeginForm())
{
    <input type="text" value="" name="id" autocomplete="off" />
    <input type="submit" value="Reset Password" />
}
